{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Wise Music Dashboard{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/book/book_style.css' %}">
    
    {% block head %}{% endblock %}

    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <div style="font-size: 1.5em; font-weight: 700; margin-bottom: 40px; color: #007bff;">Wise Music Dashboard</div>
                <a href="{% url 'order_list' %}" class="nav-item {% if request.resolver_match.url_name == 'order_list' %}active{% endif %}">주문 목록</a>
                <a href="{% url 'add_order' %}" class="nav-item">주문 추가</a>
                <a href="{% url 'book_list' %}" class="nav-item {% if 'book' in request.resolver_match.url_name %}active{% endif %}">책 관리</a>
                <a href="#" class="nav-item">정산 관리</a>
            </nav>
        </div>

        <main class="content">
            {% block content %}{% endblock %}
        </main>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>    
    {% block script %}{% endblock %}
</body>
</html>